@import "../../../styles//vars.scss";
@import "../../../styles/colors.module.scss";

.sidebar {
  width: 20%;
  height: 100vh;
  background-color: $sidebarBGColor;
  position: fixed;
  top: 0;
  left: 0;
  .innerWrapper {
    width: 100%;
    height: 100vh;
    @extend %flex-column-align;
  }
}
